[user]
name = kellymears
email = code@kellymears.me
[credential]
helper = osxkeychain
[alias]
wow = log --all --graph --decorate --oneline --simplify-by-decoration
[core]
excludesfile = /Users/kellymears/.gitignore
[color]
branch = auto
diff = auto
status = auto
[color "branch"]
current = yellow reverse
local = yellow
remote = green
[color "diff"]
meta = yellow bold
frag = magenta bold
old = red bold
new = green bold
[color "status"]
added = yellow
changed = green
untracked = cyan
